*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.container{
 
    background-color: #1F2937;
    color: aliceblue;
    margin:0,auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    

 }
.nav{
    background-color: #1F2937; 
    color: aliceblue;
}

.logo{
    font-size: 24px;
}
ul{
   list-style-type: none;

}
.nav a{
    text-decoration: none;
    color: aliceblue;
}
img{
    width: 35%;
    
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
}
nav ul li{
    margin-left: 20px;
}

.header{
    background-color: #1F2937;
    color: aliceblue;

}


.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.boxes .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}

.box{
    margin: 20px, 10px;
    padding: 15px, 20px;
}

.boxes h2{
    text-align: center;
    margin-top: 2rem;
}
.quote .container{
    background-color: #E5E7EB;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action{
    background-color: white;
}
.acn{
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.footer{
    text-align: center;
    background-color: #1F2937;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 30px;
}